<div class="dynamic-field row" [formGroup]="group">
  <label class="col-form-label" [ngClass]="'col-'+config.labelSize" *ngIf="config.labelSize!==0">{{ config.label }}</label>
  <div [ngClass]="'col-'+ (12 - (config.labelSize||0))">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend" *ngIf="config.prepend">
        <span class="input-group-text" [innerHTML]="config.prepend"></span>
      </div>
      <select [formControlName]="config.name" class="form-control">
        <option [ngValue]="undefined" *ngIf="config.placeholder">{{ config.placeholder }}</option>
        <option [ngValue]="option.key" *ngFor="let option of options">
          {{ option.value }}
        </option>
      </select>
      <div class="input-group-append" *ngIf="config.append">
        <span class="input-group-text" [innerHTML]="config.append"></span>
      </div>
    </div>
  </div>
</div>
