<div class="container-fluid d-flex flex-column">
  <div class="row justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="col-auto">
      <h2>
        Job Management
      </h2>
    </div>

    <div class="col-auto">
      <div class="btn-toolbar mb-2 mb-md-0">
        <button *ngIf="job.status !== 'started'" type="button" class="btn btn-sm btn-danger mr-2" (click)="start()">Start</button>
        <button *ngIf="job.status === 'started'" type="button" class="btn btn-sm btn-danger mr-2" (click)="pause()">Pause</button>
        <button *ngIf="job.status === 'started'" type="button" class="btn btn-sm btn-danger mr-2" (click)="stop()">Stop</button>
        <div *ngIf="isAuthor" class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-primary" (click)="save(false)">Save</button>
          <div class="btn-group" ngbDropdown placement="bottom-right">
            <button class="btn btn-sm btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="save(false)">Save</button>
              <button ngbDropdownItem (click)="save(true)">Save & Close</button>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-sm btn-secondary mr-2" (click)="close()">Close</button>

        <div class="btn-group mr-2" ngbDropdown placement="bottom-right">
          <button type="button" class="btn btn-sm btn-link dropdown-icon" ngbDropdownToggle>
            <fa-icon class="text-primary pointer" [icon]="faEllipsisV" [fixedWidth]="true"></fa-icon>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngIf="isAuthor" ngbDropdownItem (click)="save(true)">Save</button>
            <button *ngIf="isAuthor" ngbDropdownItem (click)="close()">Save & Close</button>
            <button *ngIf="isOwner" ngbDropdownItem (click)="copy()">Copy</button>
            <button *ngIf="isOwner" ngbDropdownItem (click)="delete()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputId">Id</label>
      <input type="text" class="form-control" id="inputId" name="inputId" [(ngModel)]="job.id" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" name="inputName" [(ngModel)]="job.name" (input)="nameChanged($event.target.value)" placeholder="Enter Name here">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputLine">Line</label>
      <input type="text" class="form-control" id="inputLine" name="inputLine" [(ngModel)]="job.line.name" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputTargetWeight">Target Weight</label>
      <input type="text" class="form-control" id="inputTargetWeight" name="inputTargetWeight" [(ngModel)]="job.targetWeight">
    </div>
  </div>
</form>

<h3>BOM</h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Percentage</th>
    <th scope="col">Weight</th>
  </tr>
  </thead>
  <tbody *ngIf="job.recipe">
  <tr *ngFor="let ingredent of job.recipe.ingredients; let i = index">
    <th scope="row">{{i}}</th>
    <td>{{ingredent.id}}</td>
    <td>{{ingredent.product.name}}</td>
    <td>{{ingredent.percentage * 100}}%</td>
    <td>{{ingredent.targetWeight}}</td>
  </tr>
  </tbody>
</table>
