<!--<div class="container-fluid d-flex flex-column flex-fill min-height-0">-->
<!--  <div class="row d-flex">-->
<!--    <div class="col flex-shrink-1">-->
<!--      <object [data] = "'assets/svgs/' + line.name + '.svg' | safe"></object>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<svg-icon #container [src]="'assets/svgs/'+ line.name + '.svg'" (click)="svgClicked($event)" [stretch]="true" [viewBox]="'auto'"></svg-icon>
<!--<div class="my-icon w-100 h-100" aria-label="My icon" [inlineSVG]="svg"></div>-->
