<div class="dynamic-field row" [formGroup]="group">
  <label class="col-form-label" [ngClass]="'col-'+config.labelSize" *ngIf="config.labelSize!==0">{{ config.label }}</label>
  <div [ngClass]="'col-'+ (12 - (config.labelSize||0))">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend" *ngIf="config.prepend">
        <span class="input-group-text" [innerHTML]="config.prepend"></span>
      </div>
      <textarea class="form-control" [attr.placeholder]="config.placeholder" [formControlName]="config.name"></textarea>
      <div class="input-group-append" *ngIf="config.append">
        <span class="input-group-text" [innerHTML]="config.append"></span>
      </div>
    </div>
  </div>
</div>
