<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.children && child.children.length > 0">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
        <mat-icon>{{child.iconName}}</mat-icon>
        <span>{{child.name}}</span>
      </button>
      <emes-menu-item #menu [items]="child.children"></emes-menu-item>
    </span>
    <!-- Handle leaf node menu items -->
    <span *ngIf="!child.children || child.children.length === 0">
      <button *ngIf="!child.external && child.url !== 'external'" mat-menu-item [routerLink]="child.url">
        <mat-icon>{{child.iconName}}</mat-icon>
        <span>{{child.name}}</span>
      </button>
      <button *ngIf="child.external" mat-menu-item (click)="navigateToExternal(child)">
        <mat-icon>{{child.iconName}}</mat-icon>
        <span>{{child.name}}</span>
      </button>
    </span>
  </span>
</mat-menu>
