<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-4">Electronic MES</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
  
  <section>
    <div class="container">
      <div class="card-deck mt-n5">
        <div class="card pointer" [routerLink]="['../warehouses']">
          <div class="card-body">
            <h5 class="card-title">Warehouses</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card pointer" [routerLink]="['../lines']">
          <div class="card-body">
            <h5 class="card-title">Lines</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card pointer" [routerLink]="['../bins']">
          <div class="card-body">
            <h5 class="card-title">Bins</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card pointer" [routerLink]="['../products']">
          <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card pointer" [routerLink]="['../equipments']">
          <div class="card-body">
            <h5 class="card-title">Equipments</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4"><a [routerLink]="['../lines', '252558f9-c2a8-4f7d-b607-ff02dc1e6c4c']">INT1</a></h2>
            <p>Intake line1. This line would use lift to transfer trunk material to the bulks.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4"><a [routerLink]="['../lines', '5bcdc28b-fc29-4d4e-a6c3-e15866531989']">INT2</a></h2>
            <p>Intake line2. This line would use trolly to carry materials on the top of bin.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4"><a [routerLink]="['../lines', '844660ac-7ec5-4819-887d-00dae25676e6']">MIX1</a></h2>
            <p>Mixing line which is to produce finished products.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  