<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Select {{config.name}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="dismissForm('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-column" style="height:60vh;">
    <csps-data-table [settings]="settings" class="d-flex flex-fill"></csps-data-table>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="dismissForm('Close button')" class="btn btn-secondary">Cancel</button>
    <button type="button" [disabled]="!itemsSelected" (click)="submitForm('OK')" class="btn btn-primary">Ok</button>
  </div>
</div>
